[package]
name = "lib-rpg"
version = "1.0.0"
authors = [""]
edition = "2018"

[profile.release]
debug = true
panic = "abort"

[profile.dev]
panic = "abort"

[dependencies]
anyhow = "1.0.98"
chrono = "0.4.34"
indexmap = { version = "2.9.0", features = ["serde"] }
lazy_static = "1.5.0"
rand = "0.9.2"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.135"

[lints.rust]
 unexpected_cfgs = { level = "warn", check-cfg = ['cfg(tarpaulin_include)'] }